.seat{
  
    width:50px;
    height:50px;
  
    background-image: url(https://cdn1.iconfinder.com/data/icons/unigrid-mechanics/60/025_chair_seat_car-512.png);
    background-size: 46px 46px;
    border-radius: 12px;
}
.seat:hover{
    background-image: url("assets/img/chair.png") ;
}
#wheel{
    transform: rotate(450deg);
    margin-left: -70%;
    background-image: url(https://storage.googleapis.com/fe-production/images/Route/steering-wheel.svg);
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    border: none;
}
#styleseat {
	border: 1px solid #E8E8E8;
	border-radius: 12px;
}
#title-seat h3{
	color:#F9AF00;
}
#styleseat h3{
	color:#F9AF00;
}
#styleseat h4{
	color:#F9AF00;
}
.seat
{
	background-color: #FBFBFB;
}
#cost
{
	color: red;
}
